@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:regular&display=swap);
* {
  transition: all 0.2s;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #ACDBDF;
}

.container {
  width: 1920px;
  height: 4513px;
  position: relative;
  margin: 0 auto;
  color: white;
}

/*Контейнер для первого блока - навигации и вводной инормации*/
.header-section {
  height: 870px;
  background-color: black;
  background-image: url(../images/skyScrapper.jpg);
  background-position: top 2380px left 0px;
  background-size: cover;
  /*bg декор для хэдэра*/
}
.header-section .header {
  width: 1170px;
  margin: 0 auto;
  height: inherit;
}
.header-section .header .nav-container {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-section .header .nav-container .nav-container__companyName {
  text-transform: uppercase;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.header-section .header .nav-container .nav-container__companyName--sizeDesctop {
  width: 185px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
}
.header-section .header .nav-container .nav-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  gap: 24px;
  height: 54px;
  font-family: "Josefin Sans";
}
.header-section .header .nav-container .nav-block .dropdown {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.header-section .header .nav-container .nav-block .dropdown--large-width {
  width: 216px;
}
.header-section .header .nav-container .nav-block .dropdown--medium-width {
  width: 117px;
}
.header-section .header .nav-container .nav-block .dropdown__hidden-list {
  display: none;
}
.header-section .header .nav-container .nav-block .dropdown:hover {
  position: relative;
  z-index: 10;
  top: 36px;
  cursor: pointer;
  overflow: visible;
}
.header-section .header .nav-container .nav-block .dropdown:hover .dropdown__hidden-list {
  display: block;
  position: relative;
}
.header-section .header .nav-container .nav-block .dropdown:hover .dropdown__hidden-list:hover::after {
  content: url(../images/carete-down.svg);
  transform: rotate(90deg);
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
.header-section .header .nav-container .nav-block .login {
  background-color: #7B61FF;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s;
}
.header-section .header .nav-container .nav-block .login--desctop-size {
  width: 135px;
  height: 54px;
  margin: 0;
}
.header-section .header .nav-container .nav-block .login:hover {
  background-color: #836eec;
  cursor: pointer;
}
.header-section .header .nav-container .nav-block .register {
  color: #7B61FF;
  margin: 0;
  text-transform: uppercase;
}
.header-section .header .nav-container .nav-block .register--desctop-size {
  width: 160px;
  height: 54px;
}
.header-section .header .nav-container .nav-block .register:hover {
  background-color: #f2e7f3;
  cursor: pointer;
}
.header-section .header .nav-container .nav-block .logAndRegFont {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.header-section .header .nav-container .nav-block .linksFont {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.header-section .header .initial-info-container {
  height: 780px;
  position: relative;
  z-index: 5;
}
.header-section .header .initial-info-container .initial-info {
  width: 770px;
  height: 374px;
  margin-top: 231px;
}
.header-section .header .initial-info-container .initial-info .initial-info__title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  color: white;
  padding: 0;
  margin: 0;
}
.header-section .header .initial-info-container .initial-info .initial-info__description {
  width: 470px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.header-section .header .initial-info-container .initial-info .initial-info__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 40px 22px;
  gap: 4px;
  width: 270px;
  height: 70px;
  background-color: #7B61FF;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}
.header-section .header .initial-info-container .initial-info .initial-info__button:hover {
  background-color: #836eec;
}
.header-section .header-section__backgroundDecor {
  position: absolute;
  width: 554px;
  height: 554px;
  left: 1366px;
  top: 316px;
  background-image: url(../images/headerSharpLinesc.png);
}
.header-section .header-section__decorShape {
  width: 558px;
  height: 558px;
  border-radius: 100%;
  background-color: rgba(51, 110, 225, 0.5);
  position: absolute;
  z-index: 0;
  left: 227px;
  top: 180px;
}

.offering-for-investor-container {
  height: 1680px;
  width: 1920px;
  background-color: #FFFFFF;
  position: relative;
  border-top: 1px solid transparent;
}
.offering-for-investor-container .offering-for-investor {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}
.offering-for-investor-container .offering-for-investor .offering-for-investor__title-description-wrapper {
  width: 770px;
  height: 152px;
  margin: 160px auto 60px auto;
}
.offering-for-investor-container .offering-for-investor .offering-for-investor__title-description-wrapper .offering-for-investor__title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: black;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}
.offering-for-investor-container .offering-for-investor .offering-for-investor__title-description-wrapper .offering-for-investor__description {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #999999;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container {
  width: 1170px;
  height: 1000px;
  display: grid;
  grid-template-rows: 480px 480px;
  grid-template-columns: 370px 370px 370px;
  grid-gap: 40px 30px;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content {
  width: 370px;
  height: 480px;
  overflow: hidden;
  /*Бэкраунд для imageContainer - сам контейнер ниже -  imageContainer*/
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .card {
  position: relative;
  top: 0;
  width: 370px;
  height: 720px;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .card:hover {
  position: relative;
  transition: all 1s ease-in-out;
  top: -244px;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .image-container {
  width: 370px;
  height: 240px;
  border-top: 1px solid transparent;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .image-container .tags-container {
  width: 322px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  min-height: 50px;
  margin: 24px auto 0 24px;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .image-container .tags-container .tags-container__tag {
  padding: 8px 12px 6px 12px;
  background: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: #333333;
  margin: 0;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .description-and-range-container {
  width: 322px;
  height: 240px;
  margin: 0 auto;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #ECECEC;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .description-and-range-container .description-and-range-container__title {
  height: 32px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  /* Grey/1 */
  color: #333333;
  margin: 24px 0 0 0;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .description-and-range-container .description-and-range-container__city {
  height: 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Grey/2 */
  color: #999999;
  margin: 0;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .description-and-range-container .description-and-range-container__description {
  width: 322px;
  height: 48px;
  margin: 24px 0 0 0;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  /* Grey/1 */
  color: #333333;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .description-and-range-container .earn-container {
  width: 322px;
  height: 40px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .description-and-range-container .earn-container .earn-container__range {
  height: 8px;
  width: 100%;
  background-color: #ECECEC;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .description-and-range-container .earn-container .earn-container__range .earn-container__scale {
  height: 100%;
  width: 58%;
  background-color: #7B61FF;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .description-and-range-container .earn-container .money-container {
  height: 24px;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .description-and-range-container .earn-container .money-container .money-container__raised {
  color: #7B61FF;
  height: 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .description-and-range-container .earn-container .money-container .money-container__raised-of {
  height: 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  /* Grey/1 */
  color: #333333;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .investment-conditions-container {
  height: 240px;
  width: 370px;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .investment-conditions-container .conditions-content--margin-top {
  margin-top: 24px !important;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .investment-conditions-container .conditions-content {
  width: 322px;
  margin: 0 auto;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .investment-conditions-container .conditions-content .condition-wrapper {
  height: 24px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .investment-conditions-container .conditions-content .condition-wrapper .condition-wrapper__condition {
  height: 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Grey/1 */
  color: #333333;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .investment-conditions-container .conditions-content .condition-wrapper .condition-wrapper__value {
  height: 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Grey/1 */
  color: #333333;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .investment-conditions-container .investment-conditions-container__button {
  padding: 24px 40px 22px;
  margin-top: 24px;
  width: 100%;
  height: 72px;
  background: #336EE1;
  text-transform: uppercase;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .investment-conditions-container .investment-conditions-container__button:hover {
  background: #235ac7;
  cursor: pointer;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .bg-image-path--scy-scrapper {
  background-image: url(../images/investCardImg/buildingBlack.jpg);
  background-size: cover;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .bg-image-path--key-chain {
  background-image: url(../images/investCardImg/keyChainHouse.jpg);
  background-size: cover;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .bg-image-path--building-nature {
  background-image: url(../images/investCardImg/buildingNature.jpg);
  background-size: cover;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .bg-image-path--laptop {
  background-image: url(../images/investCardImg/laptopjpg.jpg);
  background-size: cover;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .bg-image-path--office {
  background-image: url(../images/investCardImg/office.jpg);
  background-size: cover;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container .cards-content .bg-image-path--wheat {
  background-image: url(../images/investCardImg/wheatField.jpg);
  background-size: cover;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 70px;
  background-color: white;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 24px 40px 22px;
  margin: 80px auto 0 auto;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #336EE1;
  border: 1px solid #336EE1;
  transition: all 0.2s;
}
.offering-for-investor-container .offering-for-investor .invest-cards-container__button:hover {
  background-color: #336EE1;
  color: white;
  cursor: pointer;
}
.offering-for-investor-container .invest-cards-container__decor-spinner {
  width: 306px;
  height: 301px;
  background: url(../images/spinnerDecor.svg);
  background-size: cover;
  position: absolute;
  left: 40px;
  top: 35.5%;
  animation: spinner 20s linear infinite;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paymants-to-investor-container {
  height: 696px;
  background: #ECF4FD;
  position: relative;
  z-index: 10;
}
.paymants-to-investor-container .paymants-to-investor-content {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 29px;
  position: relative;
  z-index: 10;
}
.paymants-to-investor-container .paymants-to-investor-content .summ-of-paids {
  height: 376px;
  width: 570px;
  display: block;
}
.paymants-to-investor-container .paymants-to-investor-content .summ-of-paids .summ-of-paids__title {
  height: 128px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */
  /* Grey/1 */
  color: #333333;
  margin: 40px 0 24px 0;
}
.paymants-to-investor-container .paymants-to-investor-content .summ-of-paids .summ-of-paids__description {
  height: 128px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  /* Grey/2 */
  color: #999999;
  margin: 0;
}
.paymants-to-investor-container .paymants-to-investor-content .chart-container {
  width: 570px;
  height: 356px;
  display: block;
}
.paymants-to-investor-container .paymants-to-investor-container--decor-rounded-figure {
  height: 424px;
  width: 607.03px;
  background-image: url(../images/roundedFigure.svg);
  background-size: cover;
  position: absolute;
  top: 38.94%;
  left: 0;
  z-index: 5;
}
.paymants-to-investor-container .paymants-to-investor-container--decor-circle {
  position: absolute;
  right: 3.89%;
  top: 0;
}

.offer-for-grow-capital-container {
  width: 1920px;
  height: 781.38px;
  background-color: white;
  position: relative;
}
.offer-for-grow-capital-container .offer-for-grow-capital-content {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer-for-grow-capital-container .offer-for-grow-capital-content .title-description-button {
  width: 570px;
  height: 422px;
}
.offer-for-grow-capital-container .offer-for-grow-capital-content .title-description-button .title-description-button__title {
  height: 192px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */
  /* Grey/1 */
  color: #333333;
  margin-bottom: 24px;
}
.offer-for-grow-capital-container .offer-for-grow-capital-content .title-description-button .title-description-button__description {
  height: 96px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  /* Grey/2 */
  color: #999999;
  margin-bottom: 40px;
}
.offer-for-grow-capital-container .offer-for-grow-capital-content .title-description-button .title-description-button__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 40px 22px;
  gap: 4px;
  width: 270px;
  height: 70px;
  background: #7B61FF;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
}
.offer-for-grow-capital-container .offer-for-grow-capital-content .title-description-button .title-description-button__button:hover {
  background-color: #836eec;
  cursor: pointer;
}
.offer-for-grow-capital-container .offer-for-grow-capital-container__decorSpinner {
  width: 306px;
  height: 301px;
  background: url(../images/spinnerDecor.svg);
  background-size: cover;
  position: absolute;
  right: 0px;
  top: 160px;
}

.footer-container {
  width: 1920px;
  height: 484px;
  background-color: #ECECEC;
}
.footer-container .footer-content {
  width: 1170px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 auto;
  /*Services*/
  /*About*/
}
.footer-container .footer-content .name-copyright-content {
  width: 370px;
  height: 69px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 130px;
}
.footer-container .footer-content .name-copyright-content .name-copyright-content__company-name {
  height: 24px;
  text-transform: uppercase;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  letter-spacing: 0.06em;
  /* Grey/1 */
  color: #333333;
}
.footer-container .footer-content .name-copyright-content .name-copyright-content__copyright {
  height: 15px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: -0.204545px;
  /* Grey/1 */
  color: #333333;
}
.footer-container .footer-content .services-content {
  width: 270px;
  height: 184px;
  margin-right: 30px;
}
.footer-container .footer-content .services-content .services {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.footer-container .footer-content .services-content .services .services__first-li {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  /* Grey/1 */
  color: #333333;
}
.footer-container .footer-content .services-content .services li {
  height: 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Grey/1 */
  color: #333333;
}
.footer-container .footer-content .about-content {
  width: 270px;
  height: 184px;
  margin-right: 50px;
}
.footer-container .footer-content .about-content .about {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.footer-container .footer-content .about-content .about .about__first-li {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  /* Grey/1 */
  color: #333333;
}
.footer-container .footer-content .about-content .about li {
  height: 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Grey/1 */
  color: #333333;
}
.footer-container .footer-content .subscribe-content {
  width: 370px;
  height: 103px;
  margin-top: 77px;
}
.footer-container .footer-content .subscribe-content .subscribe-content__title {
  height: 36px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  /* Grey/1 */
  color: #333333;
  margin: 0;
}
.footer-container .footer-content .subscribe-content .email-form-content {
  height: 51px;
  width: 100%;
  margin-top: 16px;
  border-bottom: 1px solid gray;
}
.footer-container .footer-content .subscribe-content .email-form-content .email-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container .footer-content .subscribe-content .email-form-content .email-form .email-form__email {
  background-color: #ECECEC;
  height: 24px;
  border: none;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Grey/1 */
  color: #333333;
}
.footer-container .footer-content .subscribe-content .email-form-content .email-form .email-form__submit-button {
  width: 50px;
  height: 50px;
  padding: 0;
}
.footer-container .footer-content .subscribe-content .email-form-content .email-form .email-form__submit-button svg {
  padding: 0;
  margin: 0;
}
.footer-container .social-media-icons-content {
  width: 123.49px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  margin: 164px 0 0 676px;
}

/*
//370w на 480h размер самого блока
//Но по-сути блок внутри контейнера карточки больше, а именно больше по высоте - нужно подсчитать, сколько:
 //В: еще 240 высоты т.е внутренний контейнер 620px высотой
//Чтобы блок не вылезал из контейнера - overflow: hidden;
//При навадении двигаем блок выше - transform может это сделать? Попробуем его.
	//Или тот же position: realtive; margin - что-то можно придумать - сдвинуть нужно на 50% по идее.
//Контейнер для элемента изначально можно сделать на 620px  высотой, чтобы спокойной все отверстать, а потом уменьшим до 480
//Создаем первый контейнер карточки - investmentCard
    //А внутренний контейнер (который будет больше исходного - как назвать?)
    //Вот есть у нас блок с карточками, на которых изображены инвестиционные варианты - назвали investmentCardsContainer - это глобальный,
        //А как назвать контейнер карточки investmentCard? А еще один контейнер? Т.е у нас выходит много контейнеров - главный, 
        //обьединяющий все карточки - investCardsContainer, контейнер самой карточки - cardContainer 370w480h, внутренний контейнер -
            cardContainer_childContainer
//в идеале прописать общий стили, чтобы применить без проблем к каждому
*/

/*# sourceMappingURL=css.css.map */
