@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:regular&display=swap);
* {
  transition: all 0.2s;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #ACDBDF;
}

.container {
  width: 1920px;
  height: 4513px;
  position: relative;
  margin: 0 auto;
  color: white;
}

/*Контейнер для первого блока - навигации и вводной инормации*/
.headerContainer {
  height: 870px;
  background-color: black;
  background-image: url(../images/skyScrapper.jpg);
  background-position: top 2380px left 0px;
  background-size: cover;
  /*bg декор для хэдэра*/
}
.headerContainer .header {
  width: 1170px;
  margin: 0 auto;
  height: inherit;
}
.headerContainer .header .navContainer {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerContainer .header .navContainer .companyName {
  width: 185px;
  height: 24px;
  text-transform: uppercase;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  letter-spacing: 0.06em;
  /* White */
  color: #FFFFFF;
}
.headerContainer .header .navContainer .navBlockContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  gap: 24px;
  height: 54px;
  font-family: "Josefin Sans";
}
.headerContainer .header .navContainer .navBlockContainer .opportunitiesDropdown {
  width: 216px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: block;
}
.headerContainer .header .navContainer .navBlockContainer .hiddenList {
  display: none;
}
.headerContainer .header .navContainer .navBlockContainer .dropDownHover:hover {
  position: relative;
  z-index: 10;
  top: 36px;
  cursor: pointer;
}
.headerContainer .header .navContainer .navBlockContainer .dropDownHover:hover .hiddenList {
  display: block;
  position: relative;
}
.headerContainer .header .navContainer .navBlockContainer .dropDownHover:hover .hiddenList:hover {
  box-sizing: border-box;
}
.headerContainer .header .navContainer .navBlockContainer .howItWorkDropdown {
  width: 117px;
}
.headerContainer .header .navContainer .navBlockContainer .login {
  width: 135px;
  height: 54px;
  margin: 0;
  background-color: #7B61FF;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s;
}
.headerContainer .header .navContainer .navBlockContainer .login:hover {
  background-color: #836eec;
  cursor: pointer;
}
.headerContainer .header .navContainer .navBlockContainer .register {
  width: 160px;
  height: 54px;
  color: #7B61FF;
  margin: 0;
  text-transform: uppercase;
}
.headerContainer .header .navContainer .navBlockContainer .register:hover {
  background-color: #f2e7f3;
  cursor: pointer;
}
.headerContainer .header .navContainer .navBlockContainer .linksFont {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.headerContainer .header .navContainer .navBlockContainer .logAndRegFont {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.headerContainer .header .initialInfoContainer {
  height: 780px;
  position: relative;
  z-index: 5;
}
.headerContainer .header .initialInfoContainer .initialInfoContainer_initialInfo {
  width: 770px;
  height: 374px;
  margin-top: 231px;
}
.headerContainer .header .initialInfoContainer .initialInfoContainer_initialInfo .initialInfo_title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  color: white;
  padding: 0;
  margin: 0;
}
.headerContainer .header .initialInfoContainer .initialInfoContainer_initialInfo .initialInfo_description {
  width: 470px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.headerContainer .header .initialInfoContainer .initialInfoContainer_initialInfo .initialInfo_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 40px 22px;
  gap: 4px;
  width: 270px;
  height: 70px;
  background-color: #7B61FF;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}
.headerContainer .header .initialInfoContainer .initialInfoContainer_initialInfo .initialInfo_button:hover {
  background-color: #836eec;
}
.headerContainer .backgroundDecor {
  position: absolute;
  width: 554px;
  height: 554px;
  left: 1366px;
  top: 316px;
  background-image: url(../images/headerSharpLinesc.png);
}
.headerContainer .decorShape {
  width: 558px;
  height: 558px;
  border-radius: 100%;
  background-color: rgba(51, 110, 225, 0.5);
  position: absolute;
  z-index: 0;
  left: 227px;
  top: 180px;
}

.offeringForInvestorContainer {
  height: 1680px;
  width: 1920px;
  background-color: #FFFFFF;
  position: relative;
  border-top: 1px solid transparent;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .titleAndDescriptionContainer {
  width: 770px;
  height: 152px;
  margin: 160px auto 60px auto;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .titleAndDescriptionContainer .titleAndDescription_title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  text-align: center;
  color: black;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .titleAndDescriptionContainer .titleAndDescription_description {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  text-align: center;
  /* Grey/2 */
  color: #999999;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer {
  width: 1170px;
  height: 1000px;
  display: grid;
  grid-template-rows: 480px 480px;
  grid-template-columns: 370px 370px 370px;
  grid-gap: 40px 30px;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer {
  width: 370px;
  height: 480px;
  overflow: hidden;
  /*Бэкраунд для imageContainer - сам контейнер ниже -  imageContainer*/
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardContainer_childContainer {
  position: relative;
  top: 0;
  width: 370px;
  height: 720px;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardContainer_childContainer:hover {
  position: relative;
  transition: all 1s ease-in-out;
  top: -244px;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .imagePathScyScrapper {
  background-image: url(../images/investCardImg/buildingBlack.jpg);
  background-size: cover;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .imagePathKeychainHouse {
  background-image: url(../images/investCardImg/keyChainHouse.jpg);
  background-size: cover;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .imagePathBuildingNature {
  background-image: url(../images/investCardImg/buildingNature.jpg);
  background-size: cover;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .imagePathLaptop {
  background-image: url(../images/investCardImg/laptopjpg.jpg);
  background-size: cover;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .imagePathOffice {
  background-image: url(../images/investCardImg/office.jpg);
  background-size: cover;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .imagePathWheat {
  background-image: url(../images/investCardImg/wheatField.jpg);
  background-size: cover;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .imageContainer {
  width: 370px;
  height: 240px;
  border-top: 1px solid transparent;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .imageContainer .imageContainer_tagsContainer {
  width: 322px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  min-height: 50px;
  margin: 24px auto 0 24px;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .imageContainer .imageContainer_tagsContainer .imageContainer_tagsContainer_tag {
  padding: 8px 12px 6px 12px;
  background: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: #333333;
  margin: 0;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardDescriptionTitleAndRangeContainer {
  width: 322px;
  height: 240px;
  margin: 0 auto;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #ECECEC;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardDescriptionTitleAndRangeContainer .cardTitle {
  height: 32px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  /* Grey/1 */
  color: #333333;
  margin: 24px 0 0 0;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardDescriptionTitleAndRangeContainer .cardCity {
  height: 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Grey/2 */
  color: #999999;
  margin: 0;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardDescriptionTitleAndRangeContainer .cardDescription {
  width: 322px;
  height: 48px;
  margin: 24px 0 0 0;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  /* Grey/1 */
  color: #333333;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardDescriptionTitleAndRangeContainer .cardEarnScaleContainer {
  width: 322px;
  height: 40px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardDescriptionTitleAndRangeContainer .cardEarnScaleContainer .scaleContainerBgGray {
  height: 8px;
  width: 100%;
  background-color: #ECECEC;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardDescriptionTitleAndRangeContainer .cardEarnScaleContainer .scaleContainerBgGray .scaleContainerBgPurple {
  height: 100%;
  width: 58%;
  background-color: #7B61FF;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardDescriptionTitleAndRangeContainer .cardEarnScaleContainer .cardMoney {
  height: 24px;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardDescriptionTitleAndRangeContainer .cardEarnScaleContainer .cardMoney .cardMoney_purple {
  color: #7B61FF;
  height: 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardDescriptionTitleAndRangeContainer .cardEarnScaleContainer .cardMoney .cardMoney_gray {
  height: 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  /* Grey/1 */
  color: #333333;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardIvestConditionsContainer {
  height: 240px;
  width: 370px;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardIvestConditionsContainer .topMargin {
  margin-top: 24px !important;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardIvestConditionsContainer .cardConditions {
  width: 322px;
  margin: 0 auto;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardIvestConditionsContainer .cardConditions .conditionWrapper {
  height: 24px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardIvestConditionsContainer .cardConditions .conditionWrapper .condition {
  height: 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Grey/1 */
  color: #333333;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardIvestConditionsContainer .cardConditions .conditionWrapper .value {
  height: 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Grey/1 */
  color: #333333;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardIvestConditionsContainer .cardViewBtn {
  padding: 24px 40px 22px;
  margin-top: 24px;
  width: 100%;
  height: 72px;
  background: #336EE1;
  text-transform: uppercase;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .investCardsContainer .cardContainer .cardIvestConditionsContainer .cardViewBtn:hover {
  background: #235ac7;
  cursor: pointer;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .viewAllProjectsBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 70px;
  background-color: white;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 24px 40px 22px;
  margin: 80px auto 0 auto;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #336EE1;
  border: 1px solid #336EE1;
  transition: all 0.2s;
}
.offeringForInvestorContainer .offeringForInvestorContainer_childContainer .viewAllProjectsBtn:hover {
  background-color: #336EE1;
  color: white;
  cursor: pointer;
}
.offeringForInvestorContainer .decorSpinner {
  width: 306px;
  height: 301px;
  background: url(../images/spinnerDecor.svg);
  background-size: cover;
  position: absolute;
  left: 40px;
  top: 35.5%;
  animation: spinner 20s linear infinite;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paymantsToInvestorContainer {
  height: 696px;
  background: #ECF4FD;
  position: relative;
  z-index: 10;
}
.paymantsToInvestorContainer .paymantsToInvestorContainer_childContainer {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 29px;
  position: relative;
  z-index: 10;
}
.paymantsToInvestorContainer .paymantsToInvestorContainer_childContainer .summOfInvestorPaids {
  height: 376px;
  width: 570px;
  display: block;
}
.paymantsToInvestorContainer .paymantsToInvestorContainer_childContainer .summOfInvestorPaids .summOfInvestorPaids_title {
  height: 128px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */
  /* Grey/1 */
  color: #333333;
  margin: 40px 0 24px 0;
}
.paymantsToInvestorContainer .paymantsToInvestorContainer_childContainer .summOfInvestorPaids .summOfInvestorPaids_description {
  height: 128px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  /* Grey/2 */
  color: #999999;
  margin: 0;
}
.paymantsToInvestorContainer .paymantsToInvestorContainer_childContainer .chartContainer {
  width: 570px;
  height: 356px;
  display: block;
}
.paymantsToInvestorContainer .decor_roundedFigure {
  height: 424px;
  width: 607.03px;
  background-image: url(../images/roundedFigure.svg);
  background-size: cover;
  position: absolute;
  top: 38.94%;
  left: 0;
  z-index: 5;
}
.paymantsToInvestorContainer .decor_Circle {
  position: absolute;
  right: 3.89%;
  top: 0;
}

.offerForGrowCapitalContainer {
  width: 1920px;
  height: 781.38px;
  background-color: white;
  position: relative;
}
.offerForGrowCapitalContainer .offerForGrowCapitalContainer_childContainer {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offerForGrowCapitalContainer .offerForGrowCapitalContainer_childContainer .titleDescriptionAndButton {
  width: 570px;
  height: 422px;
}
.offerForGrowCapitalContainer .offerForGrowCapitalContainer_childContainer .titleDescriptionAndButton .titleDescriptionAndButton_title {
  height: 192px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */
  /* Grey/1 */
  color: #333333;
  margin-bottom: 24px;
}
.offerForGrowCapitalContainer .offerForGrowCapitalContainer_childContainer .titleDescriptionAndButton .titleDescriptionAndButton_description {
  height: 96px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  /* Grey/2 */
  color: #999999;
  margin-bottom: 40px;
}
.offerForGrowCapitalContainer .offerForGrowCapitalContainer_childContainer .titleDescriptionAndButton .titleDescriptionAndButton_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 40px 22px;
  gap: 4px;
  width: 270px;
  height: 70px;
  background: #7B61FF;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
}
.offerForGrowCapitalContainer .offerForGrowCapitalContainer_childContainer .titleDescriptionAndButton .titleDescriptionAndButton_button:hover {
  background-color: #836eec;
  cursor: pointer;
}
.offerForGrowCapitalContainer .offerForGrowCapitalContainer_decorSpinner {
  width: 306px;
  height: 301px;
  background: url(../images/spinnerDecor.svg);
  background-size: cover;
  position: absolute;
  right: 0px;
  top: 160px;
}

.footerContainer {
  width: 1920px;
  height: 484px;
  background-color: #ECECEC;
}
.footerContainer .footerContainer_footer {
  width: 1170px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 auto;
  /*Services*/
  /*About*/
}
.footerContainer .footerContainer_footer .footerContainer_footer_nameAndCopyrightContainer {
  width: 370px;
  height: 69px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 130px;
}
.footerContainer .footerContainer_footer .footerContainer_footer_nameAndCopyrightContainer .companyName {
  height: 24px;
  text-transform: uppercase;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  letter-spacing: 0.06em;
  /* Grey/1 */
  color: #333333;
}
.footerContainer .footerContainer_footer .footerContainer_footer_nameAndCopyrightContainer .copyright {
  height: 15px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: -0.204545px;
  /* Grey/1 */
  color: #333333;
}
.footerContainer .footerContainer_footer .services {
  width: 270px;
  height: 184px;
  margin-right: 30px;
}
.footerContainer .footerContainer_footer .services .services_ul {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.footerContainer .footerContainer_footer .services .services_ul .services_ul_firstLi {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  /* Grey/1 */
  color: #333333;
}
.footerContainer .footerContainer_footer .services .services_ul li {
  height: 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Grey/1 */
  color: #333333;
}
.footerContainer .footerContainer_footer .about {
  width: 270px;
  height: 184px;
  margin-right: 50px;
}
.footerContainer .footerContainer_footer .about .about_ul {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.footerContainer .footerContainer_footer .about .about_ul .about_ul_firstLi {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  /* Grey/1 */
  color: #333333;
}
.footerContainer .footerContainer_footer .about .about_ul li {
  height: 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Grey/1 */
  color: #333333;
}
.footerContainer .footerContainer_footer .footerContainer_footer_subscribeContainer {
  width: 370px;
  height: 103px;
  margin-top: 77px;
}
.footerContainer .footerContainer_footer .footerContainer_footer_subscribeContainer .subscribeContainer_title {
  height: 36px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  /* Grey/1 */
  color: #333333;
  margin: 0;
}
.footerContainer .footerContainer_footer .footerContainer_footer_subscribeContainer .emailFormContainer {
  height: 51px;
  width: 100%;
  margin-top: 16px;
  border-bottom: 1px solid gray;
}
.footerContainer .footerContainer_footer .footerContainer_footer_subscribeContainer .emailFormContainer .form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerContainer .footerContainer_footer .footerContainer_footer_subscribeContainer .emailFormContainer .form .email {
  background-color: #ECECEC;
  height: 24px;
  border: none;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Grey/1 */
  color: #333333;
}
.footerContainer .footerContainer_footer .footerContainer_footer_subscribeContainer .emailFormContainer .form .submit {
  width: 50px;
  height: 50px;
  padding: 0;
}
.footerContainer .footerContainer_footer .footerContainer_footer_subscribeContainer .emailFormContainer .form .submit svg {
  padding: 0;
  margin: 0;
}
.footerContainer .socialMediaIcons {
  width: 123.49px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  margin: 164px 0 0 676px;
}

/*
//370w на 480h размер самого блока
//Но по-сути блок внутри контейнера карточки больше, а именно больше по высоте - нужно подсчитать, сколько:
 //В: еще 240 высоты т.е внутренний контейнер 620px высотой
//Чтобы блок не вылезал из контейнера - overflow: hidden;
//При навадении двигаем блок выше - transform может это сделать? Попробуем его.
	//Или тот же position: realtive; margin - что-то можно придумать - сдвинуть нужно на 50% по идее.
//Контейнер для элемента изначально можно сделать на 620px  высотой, чтобы спокойной все отверстать, а потом уменьшим до 480
//Создаем первый контейнер карточки - investmentCard
    //А внутренний контейнер (который будет больше исходного - как назвать?)
    //Вот есть у нас блок с карточками, на которых изображены инвестиционные варианты - назвали investmentCardsContainer - это глобальный,
        //А как назвать контейнер карточки investmentCard? А еще один контейнер? Т.е у нас выходит много контейнеров - главный, 
        //обьединяющий все карточки - investCardsContainer, контейнер самой карточки - cardContainer 370w480h, внутренний контейнер -
            cardContainer_childContainer
//в идеале прописать общий стили, чтобы применить без проблем к каждому
*/

/*# sourceMappingURL=css.css.map */
