
//fonts
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:regular,700&display=swap);
// font-family: 'Josefin Sans', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);
// font-family: 'Roboto', sans-serif;
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:regular&display=swap);
// font-family: 'IBM Plex Sans', sans-serif;


//colors
$grey: #333333;
$greLighter: #999999;
$white: #FFFFFF;
$purple: #7B61FF;
$purpleLighter: #836eec;
$skyBlue: #7ac6d4;
$blue: #5398d9;
$shapeBlue: #336EE1;

* {
    transition: all .2s;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ACDBDF;    
    margin: 0 auto;
}

.container {
    min-width: 768px;
    max-width: 1920px; //1920px
    min-height: 4513px; //4513px;
    position: relative;
    margin: 0 auto;
    color: white;
}
/*Контейнер для первого блока - навигации и вводной инормации*/
.header-container {
    min-height: 870px;
    position: relative;
    background-color: black; 
    background-image: url(../images/sky-scrapper-cut.jpg);
    //background-position: top 2535px left -70px;
    //background-size: 110%;
    //background-position: top 2380px left 0px;
    //background-position: top 45% left 0;
    //background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    
    .header {
        max-width: 1170px;
        margin: 0 auto;
        height: inherit;

       

        .nav-container {
            min-height: 90px;
            display: flex;
            margin: 0 10px;
            justify-content: space-between;
            align-items: center;

        
            .nav-container__companyName {
                text-transform: uppercase;
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 700;
                letter-spacing: 0.06em;
                color: #FFFFFF;
                
            }
            .nav-container__companyName--sizeDesctop {
                width: 185px; //Было 181
                height: 24px;

                font-size: 24px;
                line-height: 24px;     
            }
            .nav-block {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                padding: 0px;
                gap: 24px;
                height: 54px;
                font-family: 'Josefin Sans';

                //Oppurtunities dropdown
                .dropdown {
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: #FFFFFF;
                }
                //Размеры кстати необязательные
                .dropdown-large {
                    width: 216px; 
                    
                     
                }
                .dropdown-medium {
                    width: 117px;
                    
                    
                }
                .dropdown__hidden-list {
                    display: none;   
                }
                .dropdown:hover {
                    position: relative;
                    z-index: 10;
                    top: 36px; //Чтобы при ховере увеличенный блок не центрировался флексом
                    cursor: pointer;
                    overflow: visible;
                   
                    .dropdown__hidden-list {
                        display: block;
                        position: relative;
                    }
                    /*.dropdown__hidden-list:hover::after {
                        content: url(../images/carete-down.svg);
                        transform: rotate(90deg);
                        display: inline-block;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }*/
                    .dropdown__hidden-list:hover {
                        color: rgb(90, 77, 77);
                    }
                    
                }
                
                .login {
                    background-color: $purple;
                    color: white;
                    text-transform: uppercase;
                    transition: all .2s;
                }
                .login--desctop-size {
                    width: 135px;
                    height: 54px; //90 - 40% = 54px (60%)
                    margin: 0;
                }
                @media screen and (max-width: 815px) {
                    .login--desctop-size {
                        width: 90px;
                        height: 44px; //90 - 40% = 54px (60%)
                        margin: 0;
                    }
                        
                }
                .login:hover {
                    background-color: $purpleLighter;
                    cursor: pointer;
                }
                .register {
                    color: $purple;
                    margin: 0;
                    text-transform: uppercase;
                   
                }
                .register--desctop-size {
                    width: 160px;
                    height: 54px;

                }
                @media screen and (max-width: 815px) {
                    .register--desctop-size {
                        width: 110px;
                        height: 44px;
                    }   
                }
                .register:hover {
                    background-color: #f2e7f3;
                    cursor: pointer;
                }
                .logAndRegFont {
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                }
                @media screen and (max-width: 815px) {
                    .logAndRegFont {
                        
                        font-size: 14px;
                    }
                    
                }
                //Шрифт для About us
                .linksFont {
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: #FFFFFF;
                }
            }
        }
        @media screen and (max-width: 1050px) {
            .nav-container {
                flex-direction: column;
            }
            .nav-container__companyName--sizeDesctop {
                margin-top: 10px;
                margin-bottom: 20px;
            }
                
        }
        //Вводная информация
        .initial-info-container {
            //height: 780px;
            position: relative;
            z-index: 5;
            margin-top: 231px;
            max-width: 791px; //770
            
            
            .initial-info {
                
                height: 374px;
                margin: 0 10px;
                
             
                .initial-info__title {
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 60px;
                    line-height: 80px;
                    color: white;
                    padding: 0;
                    margin: 0;
                    position: relative;
                    z-index: 5;
                }
                @media screen and (max-width: 1050px) {
                    .initial-info__title {
                    font-size: 50px;
                    line-height: 70px;
                    }
                    
                }
                .initial-info__description {
                    width: 470px;
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 32px;
                    position: relative;
                    z-index: 5;
                }
                @media screen and (max-width: 1050px) {
                    .initial-info__description {
                    font-size: 20px;
                    line-height: 28px;
                    }
                    
                }
                .initial-info__button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 24px 40px 22px;
                    gap: 4px;

                    width: 270px;
                    height: 70px;
                    background-color: $purple;
                    
                    font-family: 'Josefin Sans';
                    text-transform: uppercase;
                    color: white;
                    position: relative;
                    z-index: 5;

                    cursor: pointer;
                }
                @media screen and (max-width: 1050px) {
                    .initial-info__button {
                        padding: 20px 35px 18px;
                        gap: 3px;
    
                        max-width: 270px;
                        height: 55px;
                    }
                    
                }
                .initial-info__button:hover {
                    background-color: $purpleLighter;
                }
        
                .initial-info__decor-shape {
                    width: 558px;
                    height: 558px;
                    border-radius: 100%;
                    background-color: rgba(51, 110, 225, 0.5);
                    position: absolute;
                    z-index: 1;
                    left: -12.75%;  //227px 1869px - последнее значение, при котором надпись в центре, 1661 - уголком кнопка касается
                    top: -37.75%;
                }
                @media screen and (max-width: 1050px) {
                    .initial-info__decor-shape {
                        width: 458px;
                        height: 458px;
                        left: -11%
                    }
                    
                }
            }
        }
        @media screen and (max-width: 1280px) {
            .initial-info-container {
                margin: 231px auto 0 auto;
            }
            
        }
    }
    
            /*bg декор для хэдэра*/
            .header-container__decor-sharp-lines {
                
                position: absolute;
                width: 28.85%; //554px
                //height: 63.67%; //554px
                //left: 71.145%; //1366px
                padding-top: 28.85%;
                right: 0; //instead of `left`
                //top: 36.321%; //316px
                bottom: 0;
                background-image: url(../images/headerSharpLinesc.png);
                background-size: cover;
                background-repeat: no-repeat;
                
            }
            /*Убрать декор шарп лайнс если укран меньше 1280px*/
            @media screen and (max-width: 1280px) {
                .header-container__decor-sharp-lines {
                    display: none;
                }
                
            }
}
@media screen and (max-width: 1020px) {
    .header-container {
        background-position: left 35% top 0;
    }
    
}

.offering-for-investor-container {
    min-height: 1680px;
    
    background-color: $white;
    position: relative; //Для фигуры спинера 
    border-top: 1px solid transparent; //Для марджина
    
    .offering-for-investor-content {
        max-width: 1170px;
        height: 100%;
        margin: 0 auto;
        border-bottom: 1px solid transparent;
      
        .offering-for-investor-content__title-description-wrapper {
            max-width: 770px;
            height: 152px;
            margin: 160px auto 60px auto;
            
            .offering-for-investor-content__title {
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 64px;
                text-align: center;
                color: black;
                padding: 0;
                margin: 0;
                margin-bottom: 24px;
            }
            @media screen and (max-width: 960px) {
                .offering-for-investor-content__title {
                    font-size: 42px;
                }  
            }
            .offering-for-investor-content__description {
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
                text-align: center;
                color: #999999;
            }
            @media screen and (max-width: 960px) {
                .offering-for-investor-content__description {
                    font-size: 18px;
                }
            }
        }
        .invest-cards-container {
            max-width: 1170px; //1170
            //margin: 5px 0 0 5px;
            min-height: 1000px;
           
            display: grid;
            grid-template-rows: 48% 48%; //480px от 1000px (height)
            grid-template-columns: 31.62% 31.62% 31.62% ; //370px от 1170px (width)
            grid-gap: 40px 2.564%; //40px - для отступов между рядками (если контейнер увеличится и значение будет в процетнах - отступ увеличится,  а нам этого не нужно)
            
            margin: 0 1% 0 1%; //Дополнительный margin для контейнера - чтобы не прилипал при ширине 1170px и меньшен
            .card-content {
                width: 100%;// Ячейка грид контейнера уже задана - поэтому даем 100% ширины
                height: 480px; //Здесь процент можно не ставить
                overflow: hidden;
               
                .card {
                    position: relative;
                    top: 0;
                    width: 100%; //370px 31.6239%
                    height: 720px; //480px тут оставим размер
                }
                .card:hover {
                    position: relative;
                    transition: all 1s ease-in-out;
                    top: -244px;      
                }
                .image-container {
                    width: 100%; //370px
                    height: 33.33%; //240 от 720 - 33.33%
                    border-top: 1px solid transparent; //нужнен для работающего margin тегов
                    .tags-container {
                        width: 87.02%; //по 24px отступы (?) - 322px - 87.02%
                        display: flex;
                        justify-content: flex-start;
                        align-content: flex-start;
                        flex-wrap: wrap;
                        gap: 2.48%; // от 322px 8 px 2.48
                        min-height: 50px;
                        margin: 7.45% auto 0 7.45%; //24 px от 322 - 7.45
                        .tags-container__tag {
                            padding: 8px 12px 6px 12px;
                            background: rgba(255, 255, 255, 0.8);
                            text-transform: uppercase;
                            font-family: 'Josefin Sans';
                            font-style: normal;
                            font-weight: bold;
                            font-size: 10px;
                            line-height: 12px;
                            color: #333333;
                            margin: 0;
                        } //32px, сами теги прижать
                    }
                }
                .description-and-range-container {
                    width: 87.02%;  //Ширина 370px, но падинги по 24 px - просто сделал блок 322px - 87.02% от 370
                    height: 33.33%; //240 от 720 - 33.33%
                    margin: 0 auto;
                    border-top: 1px solid transparent;
                    border-bottom: 1px solid #ECECEC; 
                    
                    .description-and-range-container__title {
                        height: 32px;
                        font-family: 'Josefin Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 32px;
                        /* identical to box height, or 133% */
                        /* Grey/1 */
                        color: #333333;
                        margin: 24px 0 0 0;      
                       
                    }
                    .description-and-range-container__city {
                        height: 24px;
                        font-family: 'Josefin Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        /* identical to box height, or 150% */
                        /* Grey/2 */
                        color: #999999;
                        margin: 0;   
                    }
                    .description-and-range-container__description {
                        width: 322px; //2: Ширина 370px, но падинги по 24 px - просто сделал блок
                        height: 48px;
                        margin: 24px 0 0 0;

                        font-family: 'Josefin Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        /* or 150% */
                        /* Grey/1 */
                        color: #333333;
                    }
                    @media screen and (max-width: 1170px) {
                        .description-and-range-container__description {
                            font-size: 14px;
                            line-height: 18px;
                        }
                        
                    }
                    .earn-container {
                        width: 100%;
                        height: 40px;
                        margin-top: 24px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .earn-container__range {
                            height: 8px;
                            width: 100%;
                            background-color: #ECECEC;
                          
                            .earn-container__scale {
                                height: 100%;
                                width: 58%;
                                background-color: $purple;
                            }
                        }
                        .money-container {
                            height: 24px;
                            .money-container__raised {
                                color: $purple;
                                height: 24px;
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 24px;
                            }
                            .money-container__raised-of {
                                height: 24px;

                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 24px;
                                /* identical to box height, or 171% */
                                /* Grey/1 */
                                color: #333333;
                            }

                        }

                    }
                    
                }
                .investment-conditions-container {
                    height: 240px;
                    width: 100%;
                    .conditions-content--margin-top {
                        margin-top: 24px !important;
                    }
                    .conditions-content {
                        width: 87.02%; //322px
                        margin: 0 auto;
                        .condition-wrapper {
                            height: 24px;
                            margin-bottom: 8px;
                            display: flex;
                            justify-content: space-between;
                            .condition-wrapper__condition {
                                height: 24px;
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 24px;
                                /* identical to box height, or 150% */

                                /* Grey/1 */
                                color: #333333;
                            }
                            
                            .condition-wrapper__value {
                                height: 24px;
                                font-family: 'Josefin Sans';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 24px;
                                /* identical to box height, or 150% */
                                /* Grey/1 */
                                color: #333333;
                            }
                        

                        }
                    }
                    .investment-conditions-container__button {
                        padding: 24px 40px 22px;
                        margin-top: 24px;
                        width: 100%; //270px
                        height: 72px;
                        background: #336EE1;
                        text-transform: uppercase;
                        
                        font-family: 'Josefin Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        color: white;
                    }
                    .investment-conditions-container__button:hover {
                        background: #235ac7;
                        cursor: pointer;

                    }

                }
                /*Бэкраунд для imageContainer - сам контейнер ниже -  imageContainer*/
                .bg-image-path--scy-scrapper {
                    background-image: url(../images/investCardImg/buildingBlack.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                .bg-image-path--key-chain {
                    background-image: url(../images/investCardImg/keyChainHouse.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;

                }
                .bg-image-path--building-nature {
                    background-image: url(../images/investCardImg/buildingNature.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;

                }
                .bg-image-path--laptop {
                    background-image: url(../images/investCardImg/laptopjpg.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                .bg-image-path--office {
                    background-image: url(../images/investCardImg/office.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                .bg-image-path--wheat {
                    background-image: url(../images/investCardImg/wheatField.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;

                }
               
            }
        }
        //Меняем раскладку с 2r3c на 3row2col
        @media screen and (max-width: 1170px) {
            .invest-cards-container {
                max-width: 1170px; //1170
                //margin: 5px 0 0 5px;
                min-height: 1000px;
               
                display: grid;
                grid-template-rows: 31.62% 31.62% 31.62%; 
                grid-template-columns: 48% 48% ; 
                grid-gap: 40px 2.564%;
                
                margin: 0 1% 0 1%; 
            }
            
        }
        
        .invest-cards-container__button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: 270px;
            height: 70px;

            background-color: white;
            
         
            box-sizing: border-box;
            text-transform: uppercase;
            padding: 24px 40px 22px;
            margin: 80px auto 0 auto;

            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #336EE1;
            border: 1px solid #336EE1;

            transition: all .2s;


        }
        @media screen and (max-width: 1170px) {
            .invest-cards-container__button {
                margin-bottom: 50px;
            }
            
        }
        .invest-cards-container__button:hover {
            background-color: #336EE1;
            color: white;
            cursor: pointer;
        }

    }
        .invest-cards-container__decor-spinner {
            //width: 306px; //306px от 1920
            //height: 301px; //301px от 1680
            width: 15.9375%; //306px
            //height: 17.916%; //301px
            padding-top: 15.9375%;
            background: url(../images/spinnerDecor.svg);
            background-size: cover;
            position: absolute;
            left: 40px;
            top: 35.5%;
            animation: spinner 20s linear  infinite;
            

            @keyframes spinner {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            
            }
        }
        @media screen and (max-width: 1920px) {
            .invest-cards-container__decor-spinner {
                width: 12%;
                padding-top: 12%;
            
        }
        }
        @media screen and (max-width: 1720px) {
            .invest-cards-container__decor-spinner {
                width: 8%;
                padding-top: 8%;
            
        }
        }
        @media screen and (max-width: 1500px) {
            .invest-cards-container__decor-spinner {
                width: 8%;
                padding-top: 8%;
                top: 10%;    
        }
        }
        @media screen and (max-width: 1024px) {
            .invest-cards-container__decor-spinner {
                display: none;  
        }
        }
}
.paymants-to-investor-container {
    min-height: 696px;
    
    background: #ECF4FD;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    .paymants-to-investor-content {
        max-width: 1170px;
        height: 100%;
        
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 29px;
        position: relative;
        z-index: 10;
        .summ-of-paids {
            height: 376px;
            width: 570px;
            display: block;
            .summ-of-paids__title {
                height: 128px;
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 64px;
                /* or 133% */
                /* Grey/1 */
                color: #333333;
                margin: 40px 0 24px 0;
            }
            .summ-of-paids__description {
                height: 128px;
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
                /* or 133% */
                /* Grey/2 */
                color: #999999;
                margin: 0;
            }
            
        }
        .chart-container {
            max-width: 570px;
            min-height: 356px;
            display: block; 
            .chart-container__svg-chart {
                width: 100%;
                height: 100%;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        .paymants-to-investor-content {
            flex-direction: column;
        }
        .chart-container {
            margin-left: -8.07%;
        }
        
    }
    .paymants-to-investor-container--decor-rounded-figure {
        height: 424px; //424px от 696 - 60.919
        width: 607.03px; //607.03px от 1920  31.616%
        background-image: url(../images/roundedFigure.svg);
        background-size: cover;
        position: absolute;
        //top: 38.94%;
        bottom: 0;
        left: 0;
        z-index: 0;
        
    }
    @media screen and (max-width: 1024px) {
        .paymants-to-investor-container--decor-rounded-figure {
            transform: scaleY(-1);
            top: 0;
            left: 0;
        }
        
    }
    .paymants-to-investor-container--decor-circle {
        position: absolute;
        right: 3.89%;
        top: 0;

    }
}
.offer-for-grow-capital-container { 
    max-width: 1920px;
    height: 781.38px;
    background-color: white; //Можно убрать, с зеленым забавно
    position: relative;
    
    .offer-for-grow-capital-content {
        max-width: 1170px;
        //margin: 0 10px 0 10px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
       
        .title-description-button {
            max-width: 570px;
            max-height: 422px;
            .title-description-button__title {
                height: 192px;
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 64px;
                /* or 133% */
                /* Grey/1 */
                color: #333333;
                margin-bottom: 24px;
            }
            @media screen and (max-width: 1024px) {
                .title-description-button__title {
                    font-size: 40px;
                    line-height: 54px;
                    height: 150px;
                }
                
            }
            .title-description-button__description {
                height: 96px;
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
                /* or 133% */
                /* Grey/2 */
                color: #999999;
                margin-bottom: 40px;
            }
            @media screen and (max-width: 1024px) {
                .title-description-button__description {
                font-size: 20px;
                line-height: 26px;
                height: 75px;
                }
            }
            .title-description-button__button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 24px 40px 22px;
                gap: 4px;
                width: 270px;
                height: 70px;
                background: #7B61FF;
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height, or 150% */
                text-transform: uppercase;
                /* White */
                color: #FFFFFF;
            }
            @media screen and (max-width: 1024px) {
                .title-description-button__button {
                    
                }
                
            }
            .title-description-button__button:hover {
                background-color: $purpleLighter;
                cursor: pointer;
            }

        }
        .offer-for-grow-capital-container__money-grow-img-content {
            width: 40.34%; //470 на 1170 - 40.34
            height: 59.15%; //462 49.15
            
            .offer-for-grow-capital-container__svg {
                width: 100%;
                height: 100%;
            }
        }
        
    }
    @media screen and (max-width: 1170px) {
        .offer-for-grow-capital-content {
            margin: 0 1% 0 1%;
        }
        
    }
    .offer-for-grow-capital-container__decorSpinner {
        width: 15.9375%; //306px от 1920 15.9375
        //height: 301px; //301px от 781 38.54%
        padding-top: 15.9375%;
        background: url(../images/spinnerDecor.svg);
        background-size: cover;
        position: absolute;
        right: 0px;
        top: 20.48%; //160 от 781 - 20.48
        
    }
    @media screen and (max-width: 1765px) {
        .offer-for-grow-capital-container__decorSpinner {
            display: none;
        }
        
    }
    
    
}

/*Footer*/
.footer-container {
    max-width: 1920px;
    height: 484px;
    background-color: #ECECEC;
    .footer-content {
        max-width: 1170px;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        //160 30 50
        margin: 0 auto;
       
       /*Name and copyright*/
        .name-copyright-content {
            width: 370px;
            height: 69px;
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 130px; //от 1170px 11.11%
           
            .name-copyright-content__company-name {
                height: 24px;
                text-transform: uppercase;
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 24px;
                /* identical to box height, or 100% */
                letter-spacing: 0.06em;
                /* Grey/1 */
                color: #333333;
                
    
            }
            .name-copyright-content__copyright {
                height: 15px;
    
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 15px;
                /* identical to box height */
    
                letter-spacing: -0.204545px;
    
                /* Grey/1 */
    
                color: #333333;
    
            }
        }
        @media screen and (max-width: 1170px) { 
            .name-copyright-content {
                max-width: 370px;
                margin: 0;
            }
            
        }
       
        
        /*Services*/
        .services-content {
            width: 270px;
            height: 184px;
           
            margin-right: 30px; //2.56%
            
            .services {
                display: flex;
                height: 100%;
                width: 100%;
                flex-direction: column;
                justify-content: space-between;
                .services__first-li {
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    /* identical to box height, or 133% */
                    /* Grey/1 */
                    color: #333333;
                }
                li {
                    height: 24px;
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    /* identical to box height, or 150% */
                    /* Grey/1 */
                    color: #333333;
                }
            }
        }
        @media screen and (max-width: 1170px) {
            .services-content {
                width: auto;
                margin: 0;
            }

            
        }
        /*About*/
        .about-content {
            width: 270px;
            height: 184px;
            display: flex;
            justify-content: center;
            
            margin-right: 50px; //4.27%
            
            .about {
                
                display: flex;
                
                flex-direction: column;
                justify-content: space-between;
                
                .about__first-li {
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    /* identical to box height, or 133% */
                    /* Grey/1 */
                    color: #333333;
                }
                li {
                    height: 24px;
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    /* identical to box height, or 150% */
                    /* Grey/1 */
                    color: #333333;
                }
            }
            
        }
        @media screen and (max-width: 1170px) {
            .about-content {
                max-width: 370px;
                margin: 0;
                display: flex;
                align-content: center;
            }
            
        }
        @media screen and (max-width: 820px) {
            .about-content {
                width: auto;
                
            }
            
        }
        /*Up href*/
        .up {
            width: 50px;
            height: 50px;
           
        }
        /*Subscribe*/
        .subscribe-content {
            width: 370px;
            height: 103px;
            
            margin-top: 77px;
        
            
            .subscribe-content__title {
                height: 36px;
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                /* identical to box height, or 150% */
                /* Grey/1 */
                color: #333333;
                margin: 0;
                
            }
            .email-form-content {
                height: 51px;
                width: 100%;
                margin-top: 16px;
                border-bottom: 1px solid gray;
                
                .email-form {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .email-form__email {
                        background-color: #ECECEC;
                        height: 24px;
                        border: none;
                        font-family: 'Josefin Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        /* identical to box height, or 150% */
                        /* Grey/1 */
                        color: #333333;
            
                    }
                    .email-form__submit-button {
                        width: 50px;
                        height: 50px;
                       
                        padding: 0;
                        svg {
                            padding: 0;
                            margin: 0;
                        }
            
                    }
            }
        }
    }
    }
    @media screen and (max-width: 1170px) {
        .footer-content {
        justify-content: space-between;
        margin: 0 1% 0 1%;
        
        }
        
    }
    /*Social media icons*/
    .social-media-icons-content {
        width: 123.49px;
        height: 16px;
   
        display: flex;
        justify-content: space-between;
        margin: 164px 0 0 676px; //676 - 57.77%
        

    }
    @media screen and (max-width: 1170px) {
        .social-media-icons-content {
            margin-left: 0;
        }
        
    }


}

/*
//370w на 480h размер самого блока
//Но по-сути блок внутри контейнера карточки больше, а именно больше по высоте - нужно подсчитать, сколько:
 //В: еще 240 высоты т.е внутренний контейнер 620px высотой
//Чтобы блок не вылезал из контейнера - overflow: hidden;
//При навадении двигаем блок выше - transform может это сделать? Попробуем его.
	//Или тот же position: realtive; margin - что-то можно придумать - сдвинуть нужно на 50% по идее.
//Контейнер для элемента изначально можно сделать на 620px  высотой, чтобы спокойной все отверстать, а потом уменьшим до 480
//Создаем первый контейнер карточки - investmentCard
    //А внутренний контейнер (который будет больше исходного - как назвать?)
    //Вот есть у нас блок с карточками, на которых изображены инвестиционные варианты - назвали investmentCardsContainer - это глобальный,
        //А как назвать контейнер карточки investmentCard? А еще один контейнер? Т.е у нас выходит много контейнеров - главный, 
        //обьединяющий все карточки - investCardsContainer, контейнер самой карточки - cardContainer 370w480h, внутренний контейнер -
            cardContainer_childContainer
//в идеале прописать общий стили, чтобы применить без проблем к каждому
*/





















